/* Global CSS */

body {
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #001529 !important;
}

a:hover {
  color: #87d068 !important;
}

.align-right {
  text-align: end;
  margin-left: auto;
  margin-right: 0;
}

.home-feed-header {
  margin: 0 10%;
}
