/* Global CSS */

body {
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #001529 !important;
}

a:hover {
  color: #87d068 !important;
}

.align-right {
  text-align: end;
  margin-left: auto;
  margin-right: 0;
}

.align-middle {
  display: flex;
  align-items: center;
}

.home-feed-header {
  margin: 0 5%;
  padding-bottom: 20px;
}
.home-create-post {
  margin: 50px 5%;
}

.home-create-post a:hover {
  color: #1890ff !important;
}

.post-img {
  display: 'flex';
  max-width: 100%;
  max-height: 675px;
  width: auto;
  margin: auto;
}

.feed-sidebar {
  background-color: transparent;
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.login-column {
  background-color: transparent;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.login-form {
  max-width: 300px;
  margin: auto;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.login-sidebar {
  background-color: transparent;
  background: no-repeat url('./assets/loginbg.jpg');
}

.top-float-profile {
  margin-top: -20vh;
  text-align: center;
  background: #ffffff00;
}
.event-col {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: center;
}
.event-sidebar {
  background-color: transparent;
  height: 100%;
  border-radius: 10px;
}

.event-map-image {
  margin-top: 20px;
  border-radius: 15px;
  position: fixed;
  width: 36%;
  max-height: 80vh;
  overflow: hidden;
}
.eventCard {
  margin-bottom: 20px;
}

.eventCard .ant-card-meta-title {
  font-size: 30px;
}

.eventCard .ant-card-meta-description {
  font-size: 15px;
}

.modalTitle {
  font-size: 30px;
  padding-bottom: 50px !important;
}

.modalSubTitle {
  font-size: 20px;
}

.userImg {
  position: relative;
  top: -3%;
  font-size: 20px;
}

.user {
  font-size: 20px;
}
